@import '/src/styles/variables.scss';
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order{
    width: 100vw;
    min-width: 1300px;
    display: flex;
    margin-left: 40px;
    margin-bottom: 40px;
    &__menu{
        width: 18%;
        background: $background-color;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        a{
            text-align: center;
            font-size: 1.1rem;
            color: var(--main-text);
            width: 100%;
            background-color: $background-color3;
            margin-bottom: 10px;
        }
    }
    .order__container{
        margin-top: 30px;
        margin-left: 20px;
        width: 75%;
        display: flex;
        flex-direction: column;
        h5{
            font-size: 1.3rem;
            color: var(--main-text);
            font-weight: bold;
            padding-bottom: 5px;
            border-bottom: 1px solid black;
            margin-right: 50px;
        }
    }
    &__list{
        height: 450px;
        overflow-y: scroll;
        table{
            
            tr{
                height: max-content;
            }
            td{
                height: max-content;
            }
            th{
                text-align: center;
            }
            td:nth-child(2){
                text-align: left;
            }
            td:nth-child(9){
                display: flex;
                justify-content: space-around;
                button{
                    outline: none;
                    border: none;
                    padding: 3px 20px;
                    border-radius: 15px;
                    &:hover{
                        background-color: $background-color3;
                    }
                }
            }
            td:last-child{
                padding: 0 5px;
                align-items: center;
            }
        }
    }
    &__pagination{
        width: 100%;
        display: flex;
        button{
            padding: 15px 20px;
            background: #D9D9D9; 
            border: none;
            margin-right: 10px;
            font-size: 18px;
        }
    }
}